In [2]:
# load packages
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [6]:
base_site='https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse'

In [7]:
def get_data(url):
    response=requests.get(url)
    html=response.content
    data=BeautifulSoup(html,'lxml')
    return data

In [8]:
def get_next_page(data):
    pager=data.find('div',{'class':'p24_pager'})
    if not pager.find('a',{'class':'pull-right text-muted'}):
        url=pager.find('a',{'class':'pull-right'})['href']
        return url
    else:
        return

In [9]:
url=base_site
while True:
    time.sleep(1)
    data=get_data(url)
    url=get_next_page(data)
    if not url:
        break
    print(url)

https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p2?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p3?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p4?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p5?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p6?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p7?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p8?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p9?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p10?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p11?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse

In [12]:
prices=[]
location=[]
rooms=[]
parking=[]
bathrooms=[]
titles=[]

def insert_data(data):
    property_list=data.find_all('span',class_='p24_content')

    for index in range(len(property_list)):
        #storing the information about every propery 
        tempPrice=property_list[index].find('span',{'class':'p24_price'}).text.strip()
        tempLocation=property_list[index].find('span',{'class':'p24_location'}).text.strip()
        tempTitle=property_list[index].find('span',{'class':'p24_title'}).text.strip()
        try:
            tempRoom=property_list[index].find('span',{'class':'p24_icons','class':'p24_featureDetails'}).text.strip()
        except:
            tempRoom='1'
        
        try:
            tempBathroom=property_list[index].find('span',{'class':'p24_icons','class':'p24_featureDetails','title':'Bathrooms'}).text.strip()
        except:
            tempBathroom='1'
        #Sometimes properties don't have parking spaces, hence you get errors that why there is exception handling here
        try:
            tempParking=property_list[index].find('span',{'class':'p24_icons','class':'p24_featureDetails','title':'Parking Spaces'}).text.strip()
        except:
            tempParking='0'

        #loading the data to lists
        prices.append(tempPrice)
        location.append(tempLocation)
        rooms.append(tempRoom)
        parking.append(tempParking)
        bathrooms.append(tempBathroom)
        titles.append(tempTitle)

In [13]:
url=base_site
while True:
    time.sleep(1)
    data=get_data(url)
    insert_data(data)
    url=get_next_page(data)
    if not url:
        break
    print(url)

https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p2?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p3?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p4?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p5?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p6?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p7?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p8?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p9?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p10?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse
https://www.property24.com/to-rent/durban-north/kwazulu-natal/2538/p11?PropertyCategory=House%2cApartmentOrFlat%2cTownhouse

In [14]:
property24=pd.DataFrame()

property24['Title']=titles
property24['Location']=location
property24['No of Rooms']=rooms
property24['Price']=prices
property24['Bathrooms']=bathrooms
property24['Parking Spaces']=parking

In [15]:
property24

,Title,Location,No of Rooms,Price,Bathrooms,Parking Spaces
0,1 Bedroom House,Durban North,1,R 7 200,1,0
1,1 Bedroom House,Red Hill,1,R 5 800,1,2
2,2 Bedroom Apartment,Umgeni Park,2,R 11 000,2,1
3,2 Bedroom Apartment,Glenashley,2,R 11 000,1,2
4,1 Bedroom House,Durban North,1,R 5 500,1,1
...,...,...,...,...,...,...
220,4 Bedroom House,Durban North,4,R 25 000,3,1
221,4 Bedroom House,Durban North,4,R 35 000,3,1
222,2 Bedroom Apartment,Glen Anil,2,R 9 500,2,0
223,3 Bedroom Townhouse,Umgeni Park,3,R 14 500,2,2
224,2 Bedroom House,Glen Anil,2,R 9 500,2,0

In [16]:
tempDF=property24.copy()

In [18]:
tempDF['Price']=tempDF['Price'].str.strip('R')
tempDF['Price']

0        7 200
1        5 800
2       11 000
3       11 000
4        5 500
        ...
220     25 000
221     35 000
222      9 500
223     14 500
224      9 500
Name: Price, Length: 225, dtype: object

In [19]:
#tempDF['Price']=tempDF['Price'].str.replace(' ','') #use replace to remove spaces in between, else it won't convert to numeric
tempDF['Price']

0       7200
1       5800
2      11000
3      11000
4       5500
       ...
220    25000
221    35000
222     9500
223    14500
224     9500
Name: Price, Length: 225, dtype: object

In [24]:
tempDF['Price']=pd.to_numeric(tempDF['Price'])
tempDF['Bathrooms']=pd.to_numeric(tempDF['Bathrooms'])
tempDF['Parking Spaces']=pd.to_numeric(tempDF['Parking Spaces'])
tempDF['No of Rooms']=pd.to_numeric(tempDF['No of Rooms'])

In [25]:
tempDF

,Title,Location,No of Rooms,Price,Bathrooms,Parking Spaces
0,1 Bedroom House,Durban North,1.0,7200,1.0,0
1,1 Bedroom House,Red Hill,1.0,5800,1.0,2
2,2 Bedroom Apartment,Umgeni Park,2.0,11000,2.0,1
3,2 Bedroom Apartment,Glenashley,2.0,11000,1.0,2
4,1 Bedroom House,Durban North,1.0,5500,1.0,1
...,...,...,...,...,...,...
220,4 Bedroom House,Durban North,4.0,25000,3.0,1
221,4 Bedroom House,Durban North,4.0,35000,3.0,1
222,2 Bedroom Apartment,Glen Anil,2.0,9500,2.0,0
223,3 Bedroom Townhouse,Umgeni Park,3.0,14500,2.0,2
224,2 Bedroom House,Glen Anil,2.0,9500,2.0,0

In [26]:
tempDF.to_excel('property24Cleaned.xlsx',index=False,header=True)

In [27]:
tempDF.to_csv('property24Cleaned.csv',index=False,header=True)